body {
    padding: 15px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 2rem 0 2rem 0;
}

header {
    height: 150px;
}

.marvel {
    color: white;
    background-color: red;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.card-image {
    min-height: 100%;
}

h5 {
    font-weight: bold;
}

.movieTitle {
    font-style: italic;
    font-size: 15px;
}

.ratingNumbers {
    color: red;
}

.card img {
    max-height: 452px;
    width: auto;

}

.valign-wrapper {
    justify-content: center;
}
