body {
    padding: 15px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.marvel {
    color: white;
    background-color: red;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.card-image {
    min-height: 100%;
}

h5 {
    font-weight: bold;
}

.movieTitle {
    font-style: italic;
    font-size: 15px;
}

.ratingNumbers {
    color: red;
}